//
//  CharacteristicHelper.m
//

#import "CharacteristicHelper.h"
#import "Characteristic.h"

@implementation CharacteristicHelper

+(NSDictionary *)getCharacteristics
{
    return @{
      {%- for service in Services -%}
      {%- for characteristic in service.Characteristics -%}
      
      @"{{characteristic.UUID}}" : [[Characteristic alloc] initWithName:@"{{characteristic.Name}}"   
                                    ReadProperty:@"{{characteristic.Properties.Read}}" 
                                    NotifyProperty:@"{{characteristic.Properties.Notify}}" 
                                    IndicateProperty:@"{{characteristic.Properties.Indicate}}"],
      {%- endfor -%}
      {%- endfor -%}
    };
}

@end

  